<% if @user.errors.any? %>
  <div class="container">
    <div class="row justify-content-center message">
      <div class="col-12">
        <div class="alert alert-danger">
          <strong><%= pluralize(@user.errors.count, "error") %> 
                    prohibited this user from being saved:
          </strong>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
    <div class="row justify-content-center sign-up-form" id="header1">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center">Sign Up</h3>
            <%= form_with model: @user, local: true, html: { class: "w-100" } do |f| %>
              <div class="form-group">
                <%= f.label :name, class: "form-label" %>
                <%= f.text_field :name, placeholder: "Enter your username", class: "form-control", autofocus: true %>
              </div>
  
              <div class="form-group">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, placeholder: "Enter your email", class: "form-control" %>
              </div>
  
              <div class="form-group">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, placeholder: "Enter your password", class: "form-control" %>
              </div>
  
              <div class="form-group">
                <%= f.label :password_confirmation, class: "form-label" %>
                <%= f.password_field :password_confirmation, placeholder: "Confirm your password", class: "form-control" %>
              </div>
  
              <div class="form-group text-center">
                <%= f.submit "Sign up", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>