<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Forums" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4">
        <a class="navbar-brand" href="#">Connect!</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="view-profile" href="#"><strong>input username</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="view-posts" href="#">All Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="view-following" href="#">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="view-newpost">Add New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            <!-- else -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>

